article.contentSiteMap {
    background-color: rgb(224,224,224);
    cursor: url('../../images/cursors/black_contrast.cur'), auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    height: auto;
}
.contentSiteMap div.data {
    position: relative;
    height: auto;
    min-height: 100%;
    width: 100%;

    padding:0;
    margin:0;
    border:0;
    box-sizing: border-box;

    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: visible;
}
.contentSiteMap div.data div {
    -webkit-flex-grow: 0;
    -webkit-flex-shrink: 0;
    flex-grow: 0;
    flex-shrink: 0;
}
.contentSiteMap div.data div.controls {
    display: flex;
    position: relative;
    width: 100%;
    top:0;
    left:0;

    padding:0;
    margin:0;
    border: 0;

    flex-direction: row;
    align-items: center;
}
.contentSiteMap div.data div.controls div.control {
    -webkit-flex-grow: 0;
    -webkit-flex-shrink: 0;
    flex-grow: 0;
    flex-shrink: 0;

    display: flex;
    position: relative;
    top:0;
    left:0;
    width: auto;

    margin:0;
    border: 0;
    box-sizing: border-box;
    background-color: transparent;
    color:rgb(40,40,40);


    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.contentSiteMap div.data div.controls div.parentHover,
.contentSiteMap div.data div.controls div.backHover,
.contentSiteMap div.data div.controls div.linkHover {
    background-color: rgb(205,205,205);
}
.contentSiteMap div.data div.controls div.control div.icon {
    position: relative;
    top:0;
    left:0;

    background: no-repeat scroll center;
}
.contentSiteMap div.data div.controls div.control div.parent {
    background-image: url("../../images/sitemap/upArrow.png");
}
.contentSiteMap div.data div.controls div.control div.back {
    background-image: url("../../images/sitemap/leftArrow.png");
}
.contentSiteMap div.data div.controls div.control div.link {
    background-image: url("../../images/sitemap/link.png");
}
.contentSiteMap div.data div.controls div.control span.text {
    display: block;
    position: relative;
    height: auto;
    width: auto;
    top:0;
    left:0;

    text-align: center;

    border:0;
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.contentSiteMap div.data div.controls div.parentDisabled,.contentSiteMap div.data div.controls div.backDisabled {
    color: rgb(160,160,160);
}
.contentSiteMap div.data div.controls div.linkDisabled {
    display: none;
}

.contentSiteMap div.data > h2 {
    display: flex;
    position: relative;
    height: 10vh;
    width: 100%;
    top:0;
    left:0;
    text-align: center;

    padding:0;
    margin:0;
    margin-top: 5vh;
    border:0;
    box-sizing: border-box;
    color: rgb(40,40,40);

    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: none;
}
.contentSiteMap div.data p.description {
    display: flex;
    position: relative;
    width: 40%;
    top:0;
    left:0;

    padding:0;
    margin:0;
    border:0;
    text-align: center;
    box-sizing: border-box;

    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: rgb(40,40,40);
    text-shadow: none;
}

.contentSiteMap div.data div.leavesBox {
    display: flex;
    position: relative;
    height: auto;
    top:0;
    left:0;

    margin:0;
    box-sizing: border-box;
    background-color: rgb(200,200,200);

    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
}
.contentSiteMap div.data div.leavesBox div.leaf {
    display: flex;
    position: relative;
    top:0;
    left:0;

    padding: 0;
    margin:0;
    border:0;
    box-sizing: border-box;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    -webkit-flex-grow: 0;
    -webkit-flex-shrink: 0;
    flex-grow: 0;
    flex-shrink: 0;
}
.contentSiteMap div.data div.leavesBox div.leaf div.childElement {
    display: flex;
    position: relative;
    top:0;
    left:0;

    padding:0;
    margin:0;
    border:0;
    border-top: 3px solid rgb(46, 190, 186);
    box-sizing: padding-box;

    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    background-color: rgb(224,224,224);
}
.contentSiteMap div.data div.leavesBox div.leaf div.childElement h2.nameField {
    display: flex;
    position: relative;
    top:0;
    left:0;
    height: 25%;
    width: 100%;
    color: rgb(40,40,40);
    text-align: center;
    padding: 0;
    margin:0;
    border: 0;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.contentSiteMap div.data div.leavesBox div.leaf div.childElement div.descField {
    display: flex;
    position:relative;
    top:0;
    left:0;
    height: 40%;
    width:80%;
    color: rgb(100,100,100);
    text-align: center;

    border:0;
    margin:0;
    box-sizing: border-box;

    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
}
.contentSiteMap div.data div.leavesBox div.leaf div.childElement div.openButton {
    display: flex;
    position:relative;
    top:0;
    left:0;
    color: rgb(224,224,224);
    text-align: center;
    background-color: rgb(34, 138, 136);

    border:0;
    margin:0;
    box-sizing: border-box;

    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    cursor: inherit;
}
.contentSiteMap div.data div.leavesBox div.leaf div.childElement div.openButton:hover,
.contentSiteMap div.data div.leavesBox div.leaf div.childElement div.openButton:active {
    background-color: rgb(46, 190, 186);
}

@media only screen and (max-resolution:150dpi) and (min-aspect-ratio: 1/1), only screen and (-webkit-max-device-pixel-ratio:1.51) and (min-aspect-ratio: 1/1), only screen and (-o-min-device-pixel-ratio:0/1) and (min-aspect-ratio: 1/1) {
    .contentSiteMap {
        padding: 0 15vw;
    }
    .contentSiteMap div.data div.controls {
        height: 12vh;
        justify-content: flex-start;
        flex-wrap: nowrap;
    }
    .contentSiteMap div.data div.controls div.control {
        height: 7vh;
        padding:0;
        padding-right:2vh;
    }
    .contentSiteMap div.data div.controls div.control div.icon {
        height: 5vh;
        width: 6vh;
        background-size: 2vh;
    }
    .contentSiteMap div.data div.controls div.control span.text {
        max-height: 5vh;

    }

    .contentSiteMap div.data p.description {
        height: 15vh;

    }


    .contentSiteMap div.data div.leavesBox {
        width: 100vw;
        min-height: 45vh;
        padding: 2vh;
        border-radius: 1vh;
    }
    .contentSiteMap div.data div.leavesBox div.leaf {
        height: calc(30vh + 3vw);
        width: 30vw;
    }
    .contentSiteMap div.data div.leavesBox div.leaf div.childElement {
        height: 30vh;
        width: 27vw;
    }
    .contentSiteMap div.data div.leavesBox div.leaf div.childElement:hover {
        box-shadow: 0 0 0.6vh 0 rgba(170,170,170,0.7);
    }
    .contentSiteMap div.data div.leavesBox div.leaf div.childElement h2.nameField {

    }
    .contentSiteMap div.data div.leavesBox div.leaf div.childElement div.descField {
        padding:1vh;

    }
    .contentSiteMap div.data div.leavesBox div.leaf div.childElement div.openButton {
        height: 25%;
        width:40%;
    }
}
@media only screen and (min-resolution:151dpi) and (-webkit-min-device-pixel-ratio:1.51), only screen and (min-resolution:151dpi) and (-o-min-device-pixel-ratio:151/100), only screen and (max-aspect-ratio: 1/1) {
    .contentSiteMap {
        padding:0;
    }
    .contentSiteMap div.data div.controls {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        background-color: rgb(200,200,200);
        height: auto;
    }
    .contentSiteMap div.data div.leavesBox {
        width: 90%;
    }
    .contentSiteMap div.data div.leavesBox div.leaf div.childElement div.openButton {
        height: 35%;
        width: 100%;
    }
}
@media only screen and (min-resolution:151dpi) and (-webkit-min-device-pixel-ratio:1.51) and (orientation: landscape), only screen and (min-resolution:151dpi) and (-o-min-device-pixel-ratio:151/100) and (orientation: landscape), only screen and (max-aspect-ratio: 1/1) and (orientation: landscape) {
    .contentSiteMap {
        padding-bottom: 5vw;
    }
    .contentSiteMap div.data div.controls div.control {
        height: 10vw;
        padding:0;
        padding-right:2vw;
    }
    .contentSiteMap div.data div.controls div.control div.icon {
        height: 5vw;
        width: 6vw;
        background-size: 2vw;
    }
    .contentSiteMap div.data div.controls div.control span.text {
        max-height: 5vw;

    }

    .contentSiteMap div.data p.description {
        height: 15vw;

    }
    .contentSiteMap div.data div.leavesBox {
        padding: 2vw;
        border-radius: 1vw;
    }
    .contentSiteMap div.data div.leavesBox div.leaf {
        height: 27vw;
        width: 39vw;
    }
    .contentSiteMap div.data div.leavesBox div.leaf div.childElement {
        height: 24vw;
        width: 36vw;
    }
    .contentSiteMap div.data div.leavesBox div.leaf div.childElement h2.nameField {

    }
    .contentSiteMap div.data div.leavesBox div.leaf div.childElement div.descField {
        padding:1vw;

    }
}
@media only screen and (min-resolution:151dpi) and (-webkit-min-device-pixel-ratio:1.51) and (orientation: portrait), only screen and (min-resolution:151dpi) and (-o-min-device-pixel-ratio:151/100) and (orientation: portrait), only screen and (max-aspect-ratio: 1/1) and (orientation: portrait) {
    .contentSiteMap {
        padding-bottom: 5vh;
    }
    .contentSiteMap div.data div.controls div.control {
        height: 10vh;
        padding:0;
        padding-right:2vh;
    }
    .contentSiteMap div.data div.controls div.control div.icon {
        height: 5vh;
        width: 6vh;
        background-size: 2vh;
    }
    .contentSiteMap div.data div.controls div.control span.text {
        max-height: 5vh;

    }

    .contentSiteMap div.data p.description {
        height: 15vh;
        width: 75%;
    }
    .contentSiteMap div.data div.leavesBox {
        padding: 0 2.5vh;
        border-radius: 1vh;
    }
    .contentSiteMap div.data div.leavesBox div.leaf {
        height: 35vh;
        width: 100%;
    }
    .contentSiteMap div.data div.leavesBox div.leaf div.childElement {
        height: 30vh;
        width: 100%;
    }
    .contentSiteMap div.data div.leavesBox div.leaf div.childElement h2.nameField {

    }
    .contentSiteMap div.data div.leavesBox div.leaf div.childElement div.descField {
        padding:1vh;

    }

}